@import './variables';
/* define mixin like function in js */
@mixin flexCenter($h,$BGcolor){
	display: flex;
	justify-content: center;
	align-items: center;
	height: $h;
	background-color: $BGcolor;

}

header {
	background-color: $color4;
	@include flexCenter(140px,red);

}
@import './contact';