@import './variables';
/* define mixin like function in js */
@mixin flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	background-color: $color4;
	@include flexCenter();
}
@import './header';