@import 'variables';

body {
	background: $light-color;
	color: $dark-color;
	font-family: $fonts;
}

header {
	background: $dark-color;
	color: $light-color;
	padding: 1rem;
	h1 {
		text-align: center;
	}
}

