@import 'variables';
@import 'functions';

*{
	padding: 0;
	margin: 0;
}

body {
	background: $light-color;
	color: $dark-color;
	font-family: $fonts;
}

header {
	background: $light-color;
	color: set-text-color($light-color);
	padding: 1rem;
	h1 {
		text-align: center;
	}
}

.section {
	padding: 3rem;
	color: #fff;

	h3{
		font-size: 2rem;
	}

	&-a {
		background: $primary-color;
	}

	&-b {
		background: $secondary-color;
	}
}

a {
	color:$dark-color;
	&:hover {
		color:$primary-color;
	}
}

// inheritance
%btn {
	display: inline-block;
	padding: .7rem .2rem;
	margin-top: 1rem;
	border: none;
	text-decoration: none;
}

.btn {
	&-light {
		@extend %btn;
		background: $light-color;
		color: $dark-color;
		&:hover{
			@include transform(rotate(20deg));
		} 
	}

	&-dark {
		@extend %btn;
		background: $dark-color;
		color: $light-color;
		&:hover{
			@include transform(translateX(20px));
		} 
	}
}

