// Variables
$website-width: 1280px;
$primary-color: #4834d4;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../images/pexels-simon-berger-1323550.jpg");
$gradi-color1 : rgba(20,20,20,0.2);
$gradi-color2 : rgba(255,255,255,0.9);