@import 'fonts';
@import 'variables';
@import 'utilities';
@import 'functions';

//Reset CSS
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family-vazir;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	ul {
		display: flex;
	}

	li {
		padding: 1rem 1.5rem;
	}

	a{
		color: #fff;
		border-bottom: solid transparent 2px;
		@include transition(border-color,.5s);
		padding-bottom: .4rem;

		&:hover {
			border-color: #fff;
		}

		&.active {
			border-color: $primary-color;
		}
	}
}

#header {
	&-home {
		@include background-gradiant($bg-image,$gradi-color1,$gradi-color2);
		height: 100vh;
		color: #fff;

		.header-content{
			text-align: center;
			padding-top: 10%;
		}

		h1 {
			font-size: 2rem;
		}
	}
}

#home {
  &-1 {
    .items {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fas {
        color: $primary-color;
        padding-bottom: 0.4rem;
      }
    }
  }

  &-2 {
    .items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.items-title {
          font-size: 1.5rem;
        }

        &.items-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
      	padding: 3rem 0;

      	&:nth-child(odd){
      		background: $primary-color;
      		color: #fff;
      	}

      	&:nth-child(even) {
      		background: $light-color;
      	}
      }
    }
  }

  &-3 {
    .process {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 1.5rem;
      text-align: center;
      // process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $primary-color;
        color: set-text-color($primary-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        @include transition(all,.8s);
      }

      // process-icon
      &-icon {
        position: relative;
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-size: 60px;
        @include transition(all,.8s);

        &:hover {
          background: $primary-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }

  .social .fab {
    margin-right: 1rem;
    border: 2px #fff solid;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    line-height: 19px;
    text-align: center;
    padding: .5rem;
    font-size: 22px;

    &:hover {
      background: $primary-color;
    }
  }
}


