@import 'fonts';
@import 'variables';
@import 'utilities';
@import 'functions';

//Reset CSS
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family-vazir;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	ul {
		display: flex;
	}

	li {
		padding: 1rem 1.5rem;
	}

	a{
		color: #fff;
		border-bottom: solid transparent 2px;
		@include transition(border-color,.5s);
		padding-bottom: .4rem;

		&:hover {
			border-color: $medium-color;
		}
	}
}
